 {%extends "layout.html"%}
{%block content%}
<form method="POST",action="">
    {{form.hidden_tag()}}
    <div class="content-section shadow">
        
        
        <div class='center' class="form-group">
            <span>{{form.assignment.label(class="form-control-label")}} {{form.assignment(class="moderntextbox,form-control ")}}
                {{form.grade.label(class="form-control-label")}}
            {{form.grade(class="form-control, sm ")}}
            {{form.weight.label(class="form-control-label")}}
            {{form.weight(class="form-control, sm ")}}</span>
        </div>
        {{form.submit(class="btn btn-outline-info")}}
    </div>
</form>

{%endblock content%} 